h1,h2,h3,h4,h5
  font-family: inherit
  text-transform: none
  font-weight: 400
  padding: 0.33rem 0
  margin: 1rem 0
  color: inherit

.nav-brand
  font-size: 3em !important

.nav_item
  text-transform: none

  img
    max-height: 1.5em

figure.preview
  
  float: left
  width: 30% !important
  margin: 0 2em 2em 2em

  img
    border: 2px black solid
  figcaption
    font-size: 14px
    line-height: 1
    font-variant: small-caps