{{ define "main" }}
  <div class="wrap mt post">
    <div>
      {{- $date := (dateFormat ":date_long" .Date) -}}
      <p class=post_date>{{ $date }}</p>
      <h1 class="post_title">{{ .Title }}</h1>
      <div class="post_body">
        <div class="post_inner">
        {{ $image := partial "func/getImage" . }}
        {{ with .Params.image }}
          <img src="{{ $image }}" alt="{{ . }}" class="post_thumbnail">
        {{ end }}

          {{ if .Params.file }}
            {{ $alt_text := $.Params.Title }}

            {{ if .Params.preview }}
            
            {{ $preview := $.Params.preview }}
            {{ $img_ressource := .Resources.Get $preview }}
            {{ if $img_ressource }}
              {{ $preview = $img_ressource.RelPermalink }}
            {{ end }}
            <figure class="floatleft">
              <a href="{{ $.Params.file }}">
                <img src="{{ $preview }}" alt="{{ $alt_text }}" loading="lazy">
              </a>
              <figcaption><p><a href="{{ $.Params.file }}">Accéder au journal</a></p></figcaption>
            </figure>
            {{ else }}
              <p><a href="{{ $.Params.file }}">{{ $alt_text }}</a></p>
            {{ end }}
          {{ end }}

          {{ .Content }}

          <div style="clear:both;"></div>

        </div>
        <div class="post_extra mb-2">
          {{ partialCached "share" . }}
        </div>
        <div>
        {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
    <a href={{ absURL "" }} class="post_nav"><span class="post_next">{{ T "latest_posts" }}
      <svg class="icon icon_scale">
        <use xlink:href="#double-arrow"></use>
      </svg>
    </span></a>
  </div>
{{ end }}